<ion-header>

  <ion-navbar>
    <ion-title>Branch Question</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form
    [formGroup]='form'
    (ngSubmit)='saveDocument(form.value)'>

<ion-list>
  <h2> Question name:</h2><h3> {{ name }} </h3>
  <h2> Question text:</h2><h3> {{ qtext }} </h3>
  <h2> Question Type:</h2><h3> {{ type }} </h3>

  <div *ngIf="type == 'radio'">

    <h2> For each option, choose what the next question should be: </h2>

    <ng-container *ngIf="options_1">
    <h2> {{ options_1 }}:
      <select formControlName="branch">
        <option>

        </option>
        <option *ngFor="let question of questions">
          {{ question.name }}
        </option>
        <option value="-1">
          end module
        </option>
      </select>
    </h2>
  </ng-container>

    <ng-container *ngIf="options_2">
    <h2> {{ options_2 }}:
      <select formControlName="branch2">
        <option>

        </option>
        <option *ngFor="let question of questions">
          {{ question.name }}
        </option>
        <option value="-1">
          end module
        </option>
      </select>
    </h2>
  </ng-container>

    <ng-container *ngIf="options_3">
    <h2> {{ options_3 }}:
      <select formControlName="branch3">
        <option>

        </option>
        <option *ngFor="let question of questions">
          {{ question.name }}
        </option>
        <option value="-1">
          end module
        </option>
      </select>
    </h2>
  </ng-container>

    <ng-container *ngIf="options_4">
    <h2> {{ options_4 }}:
      <select formControlName="branch4">
        <option>

        </option>
        <option *ngFor="let question of questions">
          {{ question.name }}
        </option>
        <option value="-1">
          end module
        </option>
      </select>
    </h2>
  </ng-container>

    <ng-container *ngIf="options_5">
    <h2> {{ options_5 }}:
      <select formControlName="branch5">
        <option>

        </option>
        <option *ngFor="let question of questions">
          {{ question.name }}
        </option>
        <option value="-1">
          end module
        </option>
      </select>
    </h2>
  </ng-container>

    <ng-container *ngIf="options_6">
    <h2> {{ options_6 }}:
      <select formControlName="branch6">
        <option>

        </option>
        <option *ngFor="let question of questions">
          {{ question.name }}
        </option>
        <option value="-1">
          end module
        </option>
      </select>
    </h2>
  </ng-container>

    <ng-container *ngIf="options_7">
    <h2> {{ options_7 }}:
      <select formControlName="branch7">
        <option>

        </option>
        <option *ngFor="let question of questions">
          {{ question.name }}
        </option>
        <option value="-1">
          end module
        </option>
      </select>
    </h2>
  </ng-container>

    <ng-container *ngIf="options_8">
    <h2> {{ options_8 }}:
      <select formControlName="branch8">
        <option>

        </option>
        <option *ngFor="let question of questions">
          {{ question.name }}
        </option>
        <option value="-1">
          end module
        </option>
      </select>
    </h2>
  </ng-container>

  <ng-container *ngIf="options_9">
  <h2> {{ options_9 }}:
    <select formControlName="branch9">
      <option>

      </option>
      <option *ngFor="let question of questions">
        {{ question.name }}
      </option>
      <option value="-1">
        end module
      </option>
    </select>
  </h2>
</ng-container>

<ng-container *ngIf="options_10">
<h2> {{ options_10 }}:
  <select formControlName="branch10">
    <option>

    </option>
    <option *ngFor="let question of questions">
      {{ question.name }}
    </option>
    <option value="-1">
      end module
    </option>
  </select>
</h2>
</ng-container>

<ng-container *ngIf="options_11">
<h2> {{ options_11 }}:
  <select formControlName="branch11">
    <option>

    </option>
    <option *ngFor="let question of questions">
      {{ question.name }}
    </option>
    <option value="-1">
      end module
    </option>
  </select>
</h2>
</ng-container>

<ng-container *ngIf="options_12">
<h2> {{ options_12 }}:
  <select formControlName="branch12">
    <option>

    </option>
    <option *ngFor="let question of questions">
      {{ question.name }}
    </option>
    <option value="-1">
      end module
    </option>
  </select>
</h2>
</ng-container>

<ng-container *ngIf="options_13">
<h2> {{ options_13 }}:
  <select formControlName="branch13">
    <option>

    </option>
    <option *ngFor="let question of questions">
      {{ question.name }}
    </option>
    <option value="-1">
      end module
    </option>
  </select>
</h2>
</ng-container>

<ng-container *ngIf="options_14">
<h2> {{ options_14 }}:
  <select formControlName="branch14">
    <option>

    </option>
    <option *ngFor="let question of questions">
      {{ question.name }}
    </option>
    <option value="-1">
      end module
    </option>
  </select>
</h2>
</ng-container>

<ng-container *ngIf="options_15">
<h2> {{ options_15 }}:
  <select formControlName="branch15">
    <option>

    </option>
    <option *ngFor="let question of questions">
      {{ question.name }}
    </option>
    <option value="-1">
      end module
    </option>
  </select>
</h2>
</ng-container>

<ng-container *ngIf="options_16">
<h2> {{ options_16 }}:
  <select formControlName="branch16">
    <option>

    </option>
    <option *ngFor="let question of questions">
      {{ question.name }}
    </option>
    <option value="-1">
      end module
    </option>
  </select>
</h2>
</ng-container>

<ng-container *ngIf="options_17">
<h2> {{ options_17 }}:
  <select formControlName="branch17">
    <option>

    </option>
    <option *ngFor="let question of questions">
      {{ question.name }}
    </option>
    <option value="-1">
      end module
    </option>
  </select>
</h2>
</ng-container>

<ng-container *ngIf="options_18">
<h2> {{ options_18 }}:
  <select formControlName="branch18">
    <option>

    </option>
    <option *ngFor="let question of questions">
      {{ question.name }}
    </option>
    <option value="-1">
      end module
    </option>
  </select>
</h2>
</ng-container>

<ng-container *ngIf="options_19">
<h2> {{ options_19 }}:
  <select formControlName="branch19">
    <option>

    </option>
    <option *ngFor="let question of questions">
      {{ question.name }}
    </option>
    <option value="-1">
      end module
    </option>
  </select>
</h2>
</ng-container>

<ng-container *ngIf="options_20">
<h2> {{ options_20 }}:
  <select formControlName="branch20">
    <option>

    </option>
    <option *ngFor="let question of questions">
      {{ question.name }}
    </option>
    <option value="-1">
      end module
    </option>
  </select>
</h2>
</ng-container>

</div>

  <div *ngIf="type == 'slider' || type == 'text' || type == 'multi' || type == 'time' || type == 'date' || type == 'number'">
    <label stacked class ="item item-input item-select">
          <div class ="input-label">

          <h2>  What should the next question be:</h2>

          <select formControlName="branch">
            <option>

            </option>
            <option *ngFor="let question of questions">
              {{ question.name }}
            </option>
            <option value="-1">
              end module
            </option>

          </select>
        </div>
        </label>
  </div>

</ion-list>

<ion-item>
  <div *ngIf="isEditable">
    <button
      ion-button
      block
      color="primary"
      text-center
      padding-top
      padding-bottom
      [disabled]="!form.valid">
      Branch question
    </button>
  </div>
</ion-item>

</form>

<ion-item>
  <button
    ion-button
    block
    color="danger"
    text-center
    padding-top
    padding-bottom
    (click)="deleteDocument()">
    Delete question
  </button>
</ion-item>

</ion-content>
