<ion-header>

  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form
    [formGroup]='form'
    (ngSubmit)='saveDocument(form.value)'>

    <ion-item>
      <ion-label stacked>Question Name:</ion-label>
      <ion-input
        type='text'
        formControlName='name'
        [(ngModel)]='name'>
      </ion-input>
    </ion-item>

  <ion-item>
       <ion-label stacked>Question Type:</ion-label>
       <ion-input
          type="text"
          formControlName="type"
          [(ngModel)]="type" value= 'slider' disabled='true'></ion-input>
 	  </ion-item>

    <ion-item>
       <ion-label stacked>Question Text:</ion-label>
       <ion-input
          type="text"
          formControlName="qtext"
          [(ngModel)]="qtext"></ion-input>
 	  </ion-item>

    <ion-item>
       <ion-label stacked>Slider's Left Label:</ion-label>
       <ion-input
          type="text"
          formControlName="leftLabel"
          [(ngModel)]="leftLabel"></ion-input>
    </ion-item>

    <ion-item>
       <ion-label stacked>Slider's Right Label:</ion-label>
       <ion-input
          type="text"
          formControlName="rightLabel"
          [(ngModel)]="rightLabel"></ion-input>
    </ion-item>

 	  <ion-item>
       <button
         ion-button
         block
         color="primary"
         text-center
         padding-top
         padding-bottom
         [disabled]="!form.valid">
          <div *ngIf="!isEditable">
             Add a new question
          </div>

          <div *ngIf="isEditable">
             Update this question
          </div>
          </button>
 	  </ion-item>

  </form>

</ion-content>
