<ion-header>

  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form
    [formGroup]='form'
    (ngSubmit)='saveDocument(form.value)'>

    <ion-item>
      <ion-label stacked>Question Name:</ion-label>
      <ion-input
        type='text'
        formControlName='name'
        [(ngModel)]='name'>
      </ion-input>
    </ion-item>

  <ion-item>
       <ion-label stacked>Question Type:</ion-label>
       <ion-input
          type="text"
          formControlName="type"
          [(ngModel)]="type" value= 'multi' disabled='true'></ion-input>
 	  </ion-item>

    <ion-item>
       <ion-label stacked>Question Text:</ion-label>
       <ion-input
          type="text"
          formControlName="qtext"
          [(ngModel)]="qtext"></ion-input>
 	  </ion-item>

    <ion-item>
       <ion-label stacked>Answer choice 1:</ion-label>
       <ion-input
          type="text"
          formControlName="option1"
          [(ngModel)]="option1"></ion-input>
    </ion-item>

    <ion-item>
       <ion-label stacked>Answer choice 2:</ion-label>
       <ion-input
          type="text"
          formControlName="option2"
          [(ngModel)]="option2"></ion-input>
    </ion-item>

    <ion-item>
       <ion-label stacked>Answer choice 3:</ion-label>
       <ion-input
          type="text"
          formControlName="option3"
          [(ngModel)]="option3"></ion-input>
    </ion-item>

    <ion-item>
       <ion-label stacked>Answer choice 4:</ion-label>
       <ion-input
          type="text"
          formControlName="option4"
          [(ngModel)]="option4"></ion-input>
    </ion-item>

    <ion-item>
       <ion-label stacked>Answer choice 5:</ion-label>
       <ion-input
          type="text"
          formControlName="option5"
          [(ngModel)]="option5"></ion-input>
    </ion-item>

    <ion-item>
       <ion-label stacked>Answer choice 6:</ion-label>
       <ion-input
          type="text"
          formControlName="option6"
          [(ngModel)]="option6"></ion-input>
    </ion-item>

    <ion-item>
       <ion-label stacked>Answer choice 7:</ion-label>
       <ion-input
          type="text"
          formControlName="option7"
          [(ngModel)]="option7"></ion-input>
    </ion-item>

    <ion-item>
       <ion-label stacked>Answer choice 8:</ion-label>
       <ion-input
          type="text"
          formControlName="option8"
          [(ngModel)]="option8"></ion-input>
    </ion-item>

    <ion-item>
       <ion-label stacked>Answer choice 9:</ion-label>
       <ion-input
          type="text"
          formControlName="option9"
          [(ngModel)]="option9"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Answer choice 10:</ion-label>
       <ion-input
          type="text"
          formControlName="option10"
          [(ngModel)]="option10"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Answer choice 11:</ion-label>
       <ion-input
          type="text"
          formControlName="option11"
          [(ngModel)]="option11"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Answer choice 12:</ion-label>
       <ion-input
          type="text"
          formControlName="option12"
          [(ngModel)]="option12"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Answer choice 13:</ion-label>
       <ion-input
          type="text"
          formControlName="option13"
          [(ngModel)]="option13"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Answer choice 14:</ion-label>
       <ion-input
          type="text"
          formControlName="option14"
          [(ngModel)]="option14"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Answer choice 15:</ion-label>
       <ion-input
          type="text"
          formControlName="option15"
          [(ngModel)]="option15"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Answer choice 16:</ion-label>
       <ion-input
          type="text"
          formControlName="option16"
          [(ngModel)]="option16"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Answer choice 17:</ion-label>
       <ion-input
          type="text"
          formControlName="option17"
          [(ngModel)]="option17"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Answer choice 18:</ion-label>
       <ion-input
          type="text"
          formControlName="option18"
          [(ngModel)]="option18"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Answer choice 19:</ion-label>
       <ion-input
          type="text"
          formControlName="option19"
          [(ngModel)]="option19"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Answer choice 20:</ion-label>
       <ion-input
          type="text"
          formControlName="option20"
          [(ngModel)]="option20"></ion-input>
    </ion-item>


 	  <ion-item>
       <button
         ion-button
         block
         color="primary"
         text-center
         padding-top
         padding-bottom
         [disabled]="!form.valid">
          <div *ngIf="!isEditable">
             Add a new question
          </div>

          <div *ngIf="isEditable">
             Update this question
          </div>
          </button>
 	  </ion-item>

  </form>

</ion-content>
