<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Schema
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <button
      ion-button
      block
      color='primary'
      (click)='addParticipant()'>
      Add a new participant
    </button>

  <ion-searchbar [(ngModel)] = "searchbar" (ionInput)="searchParticipants($event)"></ion-searchbar>
  <ion-list>
    <div *ngFor='let location of locations'>
      <div *ngIf = "email == location.owner">
        <ion-item>
          <h2>Study Name: {{ location.study }}</h2>
          <p>
            ID: {{ location.id }} <br>
            Name: {{ location.name }} <br>
            Email: {{ location.email}}<br>
            Phone: {{ location.phone }}<br>
            Owner: {{ location.owner }}
          </p>

          <button
            ion-button
            color='secondary'
            (click)='updateDocument(location)'>
            Update this participant
          </button>

          <button
            ion-button
            color='danger'
            (click)="deleteDocument(location)">
            Delete this participant
          </button>
        </ion-item>
      </div>
    </div>

  </ion-list>

  <div *ngIf="!flag">
    <button ion-button
            block
            color='primary'
            (click)="exportAnswers_Modules()">
            Export Participants
    </button>
  </div>
  <div *ngIf="flag && !firstFlag">
    <button ion-button
            block
            color='primary'
            (click)="setLink()">
            Set Link
    </button>
  </div>

  <div *ngIf="firstFlag && !secondFlag">
    <button ion-button
            block
            color='primary'
            (click)="createLink()">
            Generate Link
    </button>
  </div>

  <div *ngIf="secondFlag">
    <button ion-button
            block
            color='primary'
            (click)="downloadFile()">
            Download Modules File
    </button>
  </div>


</ion-content>
