page-home {

}

#page-container {
  width: 90%;
  margin:auto;
}

.table {
  width: 50%;
  margin-left: 20px;
}

.grid-labels {
  background-color: lightgrey;
}

#add-study-button {
  margin-left: 90%;
}
