<!--
  Generated template for the ModulesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Modules</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <button
      ion-button
      block
      color='primary'
      (click)='addDocument()'>
      Create a new module
    </button>

    <div *ngFor='let location of locations'>
      <div *ngIf = "email == location.owner">
        <button ion-item (click)="updateDocument(location)">
          {{location.name}}
          <div class="item-note" item-end>
            {{location.type}}
          </div>
        </button>
      </div>
    </div>
  </ion-list>

  <div *ngIf="!flag">
    <button ion-button
            block
            color='primary'
            (click)="exportModules()">
            Create Modules File
    </button>
  </div>

  <div *ngIf="flag && !firstFlag">
    <button ion-button
            block
            color='primary'
            (click)="setLink()">
            Set Link
    </button>
  </div>

  <div *ngIf="firstFlag && !secondFlag">
    <button ion-button
            block
            color='primary'
            (click)="createLink()">
            Generate Link
    </button>
  </div>

  <div *ngIf="secondFlag">
    <button ion-button
            block
            color='primary'
            (click)="downloadFile()">
            Download Modules File
    </button>
  </div>


</ion-content>
