<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Studies</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button
    ion-button
    block
    color='primary'
    (click)='addDocument()'>
    Add a new Study
  </button>

  <ion-searchbar (ionInput)="searchStudies($event)"></ion-searchbar>
  <div *ngFor='let location of locations'>
    <div *ngIf = "email == location.owner">
      <button ion-item (click)="updateDocument(location)">
        {{location.short_name}}
        <div class="item-note" item-end>
          {{location.abstract}}
        </div>
      </button>
    </div>
  </div>

  <div *ngIf="flag == true">
    <button ion-button
            block
            color='primary'
            (click)="downloadClick()">
            Download Study
    </button>
  </div>

</ion-content>
