<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Schema
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class = "row">
    <div class = "col">
      <button
        ion-button
        block
        color='primary'
        (click)='addDocument()'>
        Add a new textbox question
      </button>
    </div>

    <div class = "col">
      <button
        ion-button
        block
        color='primary'
        (click)='addRadio()'>
        Add a new radio question
      </button>
    </div>

    <div class = "col">
      <button
        ion-button
        block
        color='primary'
        (click)='addMulti()'>
        Add a new multiple response question
      </button>
    </div>

    <div class = "col">
      <button
        ion-button
        block
        color='primary'
        (click)='addSlider()'>
        Add a new visual analog scale question
      </button>
    </div>


    <div class = "col">
      <button
        ion-button
        block
        color='primary'
        (click)='addTime()'>
        Add a new time based question
      </button>
    </div>

    <div class = "col">
      <button
        ion-button
        block
        color='primary'
        (click)='addDate()'>
        Add a new Date question
      </button>
    </div>

    <div class = "col">
      <button
        ion-button
        block
        color='primary'
        (click)='addNumber()'>
        Add a new Number question
      </button>
    </div>

  </div>

  <ion-searchbar [(ngModel)] = "searchbar" (ionInput)="searchQuestions($event)"></ion-searchbar>
  <div *ngFor='let location of locations'>
    <div *ngIf = "email == location.owner">
      <ion-list>
        <ion-item>
          <h2>{{ location.name }}</h2>
          <p>
            Type: {{ location.type}}<br>
            Question Text: {{ location.qtext }}<br>
            <ng-container *ngIf="location.leftLabel">
            Left Label: {{ location.leftLabel }}<br>
            </ng-container>
            <ng-container *ngIf="location.rightLabel">
            Right Label: {{ location.rightLabel }}<br>
            </ng-container>
            <ng-container *ngIf="location.option1">
            Answer Choice 1: {{ location.option1 }}<br>
            </ng-container>
            <ng-container *ngIf="location.option2">
            Answer Choice 2: {{ location.option2 }}<br>
            </ng-container>
            <ng-container *ngIf="location.option3">
            Answer Choice 3: {{ location.option3 }}<br>
            </ng-container>
            <ng-container *ngIf="location.option4">
            Answer Choice 4: {{ location.option4 }}<br>
            </ng-container>
            <ng-container *ngIf="location.option5">
            Answer Choice 5: {{ location.option5 }}<br>
            </ng-container>
            <ng-container *ngIf="location.option6">
            Answer Choice 6: {{ location.option6 }}<br>
            </ng-container>
            <ng-container *ngIf="location.option7">
            Answer Choice 7: {{ location.option7 }}<br>
            </ng-container>
            <ng-container *ngIf="location.option8">
            Answer Choice 8: {{ location.option8 }}
            </ng-container>
          </p>

          <ng-container *ngIf="location.type == 'text'">
            <button
              ion-button
              color='secondary'
              (click)='updateDocument(location)'>
              Update this question
            </button>
         </ng-container>

          <ng-container *ngIf="location.type == 'radio'">
            <button
              ion-button
              color='secondary'
              (click)='updateRadio(location)'>
              Update this question
            </button>
         </ng-container>

         <ng-container *ngIf="location.type == 'multi'">
           <button
             ion-button
             color='secondary'
             (click)='updateMulti(location)'>
             Update this question
           </button>
        </ng-container>

        <ng-container *ngIf="location.type == 'slider'">
          <button
            ion-button
            color='secondary'
            (click)='updateSlider(location)'>
            Update this question
          </button>
       </ng-container>

       <ng-container *ngIf="location.type == 'time'">
         <button
           ion-button
           color='secondary'
           (click)='updateTime(location)'>
           Update this question
         </button>
      </ng-container>

      <ng-container *ngIf="location.type == 'date'">
        <button
          ion-button
          color='secondary'
          (click)='updateDate(location)'>
          Update this question
        </button>
     </ng-container>

     <ng-container *ngIf="location.type == 'number'">
       <button
         ion-button
         color='secondary'
         (click)='updateDate(location)'>
         Update this question
       </button>
    </ng-container>

          <button
            ion-button
            color='danger'
            (click)="deleteDocument(location)">
            Delete this question
          </button>
        </ion-item>
      </ion-list>
    </div>
  </div>

</ion-content>
