<ion-header>

  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form
    [formGroup]='form'
    (ngSubmit)='saveDocument(form.value)'>

    <ion-item>
      <ion-label stacked>Study Full Name</ion-label>
      <ion-input
        type='text'
        formControlName= "full_name"
        [(ngModel)]="full_name">
      </ion-input>
    </ion-item>

    <ion-item>
       <ion-label stacked>Study Short Name</ion-label>
       <ion-input
          type="text"
          formControlName="short_name"
          [(ngModel)]="short_name"></ion-input>
 	  </ion-item>

    <ion-item>
       <ion-label stacked>Study Start Date</ion-label>
       <ion-input
          type="date"
          formControlName="start_date"
          [(ngModel)]="start_date"></ion-input>
 	  </ion-item>

    <ion-item>
       <ion-label stacked>Study End Date</ion-label>
       <ion-input
          type="date"
          formControlName="end_date"
          [(ngModel)]="end_date"></ion-input>
 	  </ion-item>

    <ion-item>
       <ion-label stacked>Description</ion-label>
       <ion-input
          type="text"
          formControlName="abstract"
          [(ngModel)]="abstract"></ion-input>
 	  </ion-item>

 	  <ion-item>
       <button
         ion-button
         block
         color="primary"
         text-center
         padding-top
         padding-bottom
         [disabled]="!form.valid">
          <div *ngIf="!isEditable">
             Add a new study
          </div>

          <div *ngIf="isEditable">
             Update this study
          </div>
          </button>
 	  </ion-item>

  </form>

</ion-content>
