<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SCHEMA</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div id="page-container">

    <h3>Home Page</h3>

    <br><br><br>

    <div id="owner-current-studies">
      <ion-grid class="table">
        <h4>My Studies</h4>
        <ion-row class="grid-labels">
          <ion-col col-9>Name</ion-col>
        </ion-row>
        <div *ngFor='let study of studies'>
          <div *ngIf = "email == study.owner">
            <ion-row>
              <ion-col col-9> {{ study.full_name }}</ion-col>
            </ion-row>
          </div>
        </div>
      </ion-grid>
    </div>
    <br><br><br><br>
    <div id="owner-completed-studies">
      <ion-grid class="table">
        <h4>My Completed Studies</h4>
        <ion-row class="grid-labels">
          <ion-col col-9>Name</ion-col>
        </ion-row>
        <ion-row>
          <div *ngFor="let study of end_studies">
            {{ study.full_name }}
          </div>
        </ion-row>
      </ion-grid>
    </div>
  </div>


</ion-content>
